<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    <div class="container">
        <h1>Pokemon</h1>
        <% 
        const randNum = Math.floor(Math.random() * 140);
        for(let i=randNum; i < randNum+8; i++) { %>
            <a href="/pokemon/<%=i%>"><img src="<%= allPokemon[i].img%>" ></a>
       <% } %>

    </div> 
</body>
</html>